.indSwiper {
  width:750rpx;
  height:340rpx;
  image{
    width:750rpx;
  height:340rpx;
  }
}
.midRou{
  display: flex;
  justify-content: space-around;
  text-align: center;
  view{
    padding: 10rpx 0;
  }
  image{
    width: 128rpx;
    height: 140rpx;
  }
}
.floorTitle>image{
   width: 750rpx;
   height: 59rpx;
}
.floorPicShow{
  >view:first-child{
    float: left;
    image{
      width: 180rpx;
      height: 301rpx;
    }
  }
  >view:not(:first-child){
    float: right;
      image{
      width: 233rpx;
      height: 188rpx;
    }
  }
}